.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding-top: 20px;
}

.header__container {
    max-width: calc(1440px + 20px);
    padding: 0 20px;
    margin: 0 auto;
}

.header__container-inner {
    height: 100%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-top__info {
    display: flex;
    gap: 81px;
    align-items: center;
}

.header-top__accessibility {
    display: flex;
    gap: 12px;
    align-items: center;
}

.header-top__accessibility,
.header-top__tickets-info {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF99;
}

.header-top__meta {
    display: flex;
    gap: 32px;
    align-items: center;
}

.header-top__phone {
    display: flex;
    gap: 12px;
    position: relative;
}

.header-top__phone:after {
    content: "";
    position: absolute;
    top: 0;
    right: calc(-32px/2);
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--color-gray);
}

.header-top__phone-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: var(--color-white);
}

.header-top__menu {
    display: none;
    position: relative;
    width: 21px;
    height: 2px;
    border-radius: 50%;
    background-color: var(--color-white);
}

.header-top__menu:after {
    content: "";
    position: absolute;
    width: 21px;
    height: 2px;
    border-radius: 50%;
    background-color: var(--color-white);
    top: 5px;
    left: 0;
}

.header-top__menu::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 2px;
    border-radius: 50%;
    background-color: var(--color-white);
    top: -5px;
    left: 0;
}

.header-bottom {
    height: 80px;
    border-top: 1px solid #E1E1E11A;
    border-bottom: 1px solid #E1E1E11A;
}

.nav__list {
    height: 100%;
    display: flex;
    gap: 50px;
}

.nav__item {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

}

.nav__item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: var(--color-white);
}

.nav__item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: center;
    width: 100%;
    height: 2px;
    background-color: var(--color-gold);
    transform: rotateY(90deg);
    transition: all .5s;
}

.nav__item:hover::after,
.nav__item.nav__item_active:after {
    transform: rotateY(0deg);
}

@media (max-width: 1120px) {
    .nav__list {
        gap: 30px;
    }
}

@media (max-width: 1024px) {
    .header-top__info {
        gap: 30px;
    }

    .header-top__logo {
        width: 197px;
    }

    .header-top__accessibility-link,
    .header-top__phone-link {
        display: none;
    }

    .nav__item-link {
        font-size: 12px;
        gap: 20px;
    }
}


@media (max-width: 900px) {
    .header__bottom {
        display: none;
    }

    .header-top__menu {
        display: block;
    }
}

@media (max-width: 768px) {

    .header-top__accessibility,
    .header-top__tickets-info,
    .header-top__phone:after {
        display: none;
    }
}