.mobile-menu__wrapper {
    background-color: var(--main-brown);
}

.mobile-menu__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 50px;
}

.mobile-menu__logo {
    width: 197px;
}

.mobile-menu__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
}

.mobile-menu__list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mobile-menu__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: var(--color-white);
}

.mobile-menu__meta {
    display: flex;  
    flex-direction: column;
    gap: 20px;
}

.mobile-menu__phone,
.mobile-menu__accessibility {
    display: flex;
    gap: 12px;
    align-items: center;
}

.mobile-menu__phone-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: var(--color-white);
}

.mobile-menu__accessibility-text {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF99;
}