.about {
    padding: 100px 0;
}

.about__header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: start;
    margin-bottom: 80px;
}

.about__title {
    max-width: 480px;
    font-weight: 700;
    line-height: 110%;
}

.about__description {
    max-width: 576px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-black);
}

.about__stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.about__stat {
    padding: 30px;
    background-color: var(--color-beige);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__stat-value {
    font-weight: 400;
    font-size: 54px;
    line-height: 100%;
    letter-spacing: -3px;
    color: var(--main-brown);
}

.about__stat-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: var(--color-gray-2);
}

@media (max-width: 1175px) {
    .about__stats {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .about__description {
        font-size: 15px;
    }

    .about__header {
        flex-direction: column;
        margin-bottom: 40px;
        gap: 30px;
    }

    .about__stats {
        gap: 10px;
    }

    .about__stat {
        padding: 17px 12px;
    }

    .about__stat-value {
        font-size: 34px;
    }
}

@media (max-width: 576px) {
    .about {
        padding: 40px 0;
    }
}