.about-museum__header {
    margin-bottom: 55px;
}

.about-museum-intro__img {
    display: block;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1180 / 520;
    object-fit: cover;
    margin-bottom: 40px;
    border-radius: 6px;
}

.museum-collections {
    margin-bottom: 60px;
}

.museum-collections__title {
    margin-bottom: 30px;
}

@media (max-width: 576px) {
    .museum-collections {
        margin-bottom: 40px;
    }
}