.events-page {
    margin-bottom: 115px;
}

.events-page__header {
    margin-bottom: 40px;
}

.events-page__filter-options {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 30px;
}

.events-page__filters {
    margin-bottom: 37px;
    display: flex;
}

.events-page__filter-selects {
    display: flex;
    gap: 10px;
    align-items: center;
}

.events-page__filter-actions {
    display: none;
    flex-direction: column;
    gap: 6px;
}

.events-filters__wrapper {
    background-color: var(--color-white);
}

.events-filters__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.events-filters__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 100%;
    color: var(--color-black);
    flex-grow: 1;
}

.events-filters__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.events-filters__btn {
    width: 100%;
}

.events-filters__filter-selects {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.events-filters__select {
    max-width: 100%;
}

.events-filters__options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1024px) {
    .events-page__filters {
        flex-direction: column;
        gap: 20px;
    }

    .events-page__filter-options {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .events-page {
        margin-bottom: 40px;
    }

    .events-page__filter-selects,
    .events-page__filter-options {
        display: none;
    }

    .events-page__filters {
        margin-bottom: 20px;
    }

    .events-page__filter-actions {
        display: flex;
        
    }
}



/* filter-button  */

.filter-button {
    padding: 23px 0;
    border: 2px solid var(--color-gray-3);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
    font-size: 11px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--color-black);
}

.filter-button__reset {
    border-color: var(--main-brown);
    background-color: #FFFFFF80;
    backdrop-filter: blur(20px);
}
