.drawer {
    position: fixed;
    background-color: #00000080;
    inset: 0;
    z-index: 100;
    visibility: hidden
}

.drawer.drawer_open {
    visibility: visible;
}

.drawer__wrapper {
    max-width: 320px;
    height: 100%;
    box-shadow: 0 1px 10px 0 #0C56D233;
    padding: 20px 20px 40px;
    flex-direction: column;
    display: flex;
    transform: translate(-100%);
    transition: transform .5s;
}

.drawer_open .drawer__wrapper {
    transform: translate(0%);
}