.page-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: calc(36px + 180px);
}

@media (max-width: 900px) {
    .page-header {
        padding-top: calc(80px + 20px);
    }
}

@media (max-width: 576px) {
    .page-header {
        margin-bottom: 20px !important;
    }
}
